[submodule "ansible"]
	path = ansible
	url = git@github.com:kukv/br-cluster-ansible.git
[submodule "cloud-init/values-secret"]
	path = cloud-init/values-secret
	url = git@github.com:kukv/br-cloud-init-secret.git
