[submodule "imager"]
	path = imager
	url = git@github.com:kukv/br-cluster-imager.git
[submodule "ansible"]
	path = ansible
	url = git@github.com:kukv/br-cluster-ansible.git
[submodule "gateway"]
	path = gateway
	url = git@github.com:kukv/br-cluster-gateway.git
[submodule "k8s"]
	path = k8s
	url = git@github.com:kukv/br-cluster-k8s.git
[submodule "external-service"]
	path = external-service
	url = git@github.com:kukv/br-cluster-external-service.git
